#banner {
  position:relative;
  background-image: image-url('background.jpg');
  background-size: cover;
  top:0;
    h1 {
    font-size:50px;
    font-weight: 400;
    padding-top: 150px;
    padding-left: 20px;
    text-transform: uppercase;
    color: black;
    height: auto;
  }
    h2 {
    font-size:25px;
    font-weight: 300;
    padding-bottom: 130px;
    padding-left:20px;
    color: white;
  }
    a {
    margin: 0 50px 150px 40px;
  }
}