.cadre-price {
  width:100%;
  background-color:white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #dedede;
  padding-bottom:40px;
  padding-top:30px;

}

.cadre-photo {
  width:100%;
  background-color:white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #dedede;
  padding-bottom:40px;
  padding-top:30px;

}

.price {
  color: #58585A;
  font-size: 36px;
  font-weight: bold;
}

.price_text{
  color: #58585A;
  font-size: 20px;
}

.m-b {
  margin-bottom:40px;
}

.m-t {
  margin-top:40px;
}

.mr-10 {
  margin-right:10px;
}

.mr-40 {
  margin-right:40px;
}

h1, h2, h3, h4 {
  color: #58585A;
}

.icon {
  font-size:40px
}

.vignette {
  margin-right:10px;
  // width:372px
}

.vignette:last-child {
  margin-right:0;
}

.vignette-price {
  position:absolute;
  background-color: rgba(64, 64, 64, 0.5);
  bottom:40px;
  left:55px;
  h4 {
    color: white;
    padding-left:5px;
    padding-right:5px;
  }
}