<!-- <h1>Flats#new</h1> -->
<div class="container" id="wrapper">
  <div class="row titre-home">
    <h2>Do you want to add a new awesome Flat?</h2>
    <%= render 'form' %>
    <!--  <div class="row "> -->
    <!--   <%= link_to "All flats", flats_path, class: "btn btn-primary text-center"%> -->
  </div>
</div>