/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */
body {
  padding-top: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top:20px;
 }

.margin-20 {
  margin-bottom:40px;
}

 .padding-20 {
   padding: 20px;
 }

 .padding-bottom-20 {
  padding-bottom: 20px;
 }

 .form-design {
   background-color: white;
   padding: 15px;
   margin-bottom: 40px;
   border-radius: 10px;
 }

 .page {
  min-height: 450px;
 }

 .noir {
  font-color: rgb(130, 130, 130) !important;
  }

 h4 {
  font-size: 20px;
 }

 #grey-font {
  color: #58585A;
 }

 .fs-18 {
  font-size:18px;
 }

 .fs-40 {
  font-size:40px;
 }


.flatcard {
  border: 1px solid lightgray;
  width: 320px;
  margin: auto;
  height: 300px;
  background-color: white;
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 5px;
 }

 #map {
  border-radius: 5px;
  position: fixed !important;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: rgb(229, 227, 223);
  right: 0px;
  top: 40px;
 }

  .justify {
    text-align: justify;
  }


