/* -------------------------------------
 * Base elements style (h1, h2, p, a, ul..)
 * ============= IMPORTANT =============
 * Before writing in this file, look if there is not
 * already a Bootstrap SCSS variable that does the same job
 * ------------------------------------- */
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top:20px;
 }

.margin-20 {
  margin-bottom:40px;
}

 .padding-20 {
   padding: 20px;
 }

 .padding-bottom-20 {
  padding-bottom: 20px;
 }

 .form-design {
   background-color: white;
   padding: 15px;
   margin-bottom: 40px;
   border-radius: 10px;
 }

 .noir {
  font-color: rgb(130, 130, 130) !important;

 h4 {
  font-size: 20px;
 }

 #grey-font {
  color: #58585A;
 }

 .fs-18 {
  font-size:18px;
 }
 .fs-40 {
  font-size:40px;
 }
}